*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
}

/* Styles for the top nav */
.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;;
    padding: 1rem;
}
.apps, .profile-pic {
    width: 32px;
    height: 32px;
}
.pfp-wrapper {
    width: 32px;
    height: 32px;
    margin: 0 0.2rem;
}
.profile-pic {
    border-radius: 50%;
}
.profile-pic:hover {
    box-shadow: 1px 1px 10px 4px rgba(0,0,0,.15);
}
.apps {
    opacity: 0.4;
}
.apps:hover {
    opacity: 1;
    cursor: pointer;
}
.navlink {
    font-size: 0.95rem;
    margin-right: 0.7rem;
    color: black;
    opacity: 0.85;
    text-decoration: none;
}
.navlink:hover {
    text-decoration: underline;
}

/* Styles for the main content - the image and the form */

.main-content {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 272px;
    height: 92px;
}

.search {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin-top: 0.5em;
    padding: 0.5rem 1rem;
    border: 1px solid #dddddd;
    border-radius: 30px;
}

.search:hover,
.search:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
#search-bar {
    border: none;
    width: 95%;
}

#search-bar:focus {
    outline: none;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.mic-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.button-wrapper {
    width: 40%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.button-wrapper button {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    margin: 1%;
    background-color: #f8f9fa;
    color: #3c4043;
}

.button-wrapper button:hover {
    border-color: #dadce0;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/* Styles for the footer */
footer {
    margin: 0;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    border: 1px solid #dddddd;
}

footer a {
    color: #70757a;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0.1rem 0.3rem;
}

footer a:hover {
    text-decoration: underline;
}
/*
.right-section {
    justify-self: flex-start;
}

.left-section {
    justify-self: flex-end;
}